<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% if title %}
				{{ title }} |
			{% endif %}
			Escargot MSN Server
		</title>
		
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png"/>
		<link rel="stylesheet" href="/static/CSS+JS/index.css"/>
		<script src="/static/CSS+JS/langs.js"></script>
		{%- block head_end -%}{%- endblock -%}
	</head>

	<body>
		<div class="content-container">
			<div class="border-gradient" align="center"></div>

			<header>
				<div class="col span2-5">
					<span class="logo">
						<a href="/">
							<img src="/static/logo.png" height="90px">
						</a>
						<p id="slogan">continuing the conversation</p>
					</span>
				</div>

				<div class="col span3-5" align="right">
					<div class="header-menu">
						<b>
							<a href="/stats">{% if stats %}{{ stats['logged_in'] }} online{% else %}Stats{% endif %}</a> &nbsp;
							<a id="hdr-news" href="/etc/escargot-today">News</a> &nbsp; 
							<a href="http://www.escargotspaces.com">Spaces</a> &nbsp; 
							<a id="hdr-dls" href="/downloads">Downloads</a> &nbsp; 
							<a id="hdr-forum" href="https://wink.messengergeek.com/">Forum</a> &nbsp; 
							<a href="/register"><img src="/static/sign_up_small.png"></a>
						</b>
					</div>
				</div>
			</header>

			<div class="group section content">
				<div class="group section">
					<div class="col span4-4 separator">
					</div>
				</div>

				{% block content %}{% endblock %}

				<div class="group section">
					<div class="col span4-4 separator content-end spin180">
					</div>
				</div>
			</div>

			<div class="footer">
				<p class="footer-menu">
					<a id="ftr-home" href="/">Home</a>
					  •  
					<a id="ftr-signup" href="/register">Sign Up</a>
					  •  
					<a id="ftr-dls" href="/downloads">Downloads</a>
					  •  
					<a href="http://www.escargotspaces.com/">Spaces</a>
					  •  
					<a href="https://www.gitlab.com/valtron/msn-server">GitLab</a>
					  •  
					<a href="https://wink.messengergeek.com/">MessengerGeek</a>
					  •  
					<a href="/faq">FAQ</a>
					  •  
					<a id="ftr-news" href="/etc/escargot-today">News</a>
					  •  
					<a href="/stats">{% if stats %}{{ stats['logged_in'] }} online{% else %}Stats{% endif %}</a>
				</p>
				<p id="ftr-txt">
					Escargot 2017.
					Design by <a href="http://www.spriteclad.com/main.html" id="Spriteclad-link">Spriteclad</a>.
					Website by <a href="http://www.maigol.ml/" id="Maigol-link">Maigol</a>.
					<br></br>
					MSN, MSN Messenger, Windows Live, "Windows", and Windows Live Messenger are all properties of the Microsoft Corporation. We own none of this. This is a fan project for personal purposes only.
				</p>
			</div>
			<div class="footer footer-gradient spin180">
				<div class="border-gradient" align="center"></div>
			</div>
		</div>
		
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119140043-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-119140043-1');
		</script>
	</body>
</html>