<!DOCTYPE html>
<html>
	<head>
		{%- if recaptcha_api_key -%}
			<script src="https://www.google.com/recaptcha/api.js"></script>
		{%- endif -%}
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% if title %}
				{{ title }} |
			{% endif %}
			Escargot MSN Server
		</title>
		
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="stylesheet" href="/static/CSS+JS/register.css"/>
		<script src="/static/CSS+JS/langs.js"></script>
		{%- block head_end -%}{%- endblock -%}
	</head>

	<body>
		<a href="/" class="logo">
			<img src="/static/logo.png" width="250px" />
		</a>

		<center>
			{% block content %}{% endblock %}
		</center>

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119140043-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-119140043-1');
		</script>
	</body>
</html>