{%- extends 'base.html' -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
	<div id="id" title="faq"></div>
	{%- call section('off-white', "FAQ", id = 'faq') -%}
		<h3 align="center" id="faq-subtitle">
			Mostly taken from <a href='https://wink.messengergeek.com/t/the-escargot-mega-faq-subject-to-change/4849' target='_blank'>here</a>.
		</h3>
		
		<details id="q1">
			<summary id="q1-s">Do I need to register a Microsoft account to use Escargot?</summary>
			<p id="q1-p1">At the moment, the answer is no. This is because almost all of the authentication methods MSN Messenger utilized over the years basically obscure the password from plain sight, which is good, but access to the password would let the server intertwine your account with Microsoft's existing services, like Outlook, for example, and push live e-mail notifications out to logged in users, along with contact lists on your MSN Messenger account reflecting the ones on your e-mail's address book, since that's how it worked when MSN Messenger was active. Luckily, two of MSN Messenger's authentication methods do send the password in cleartext via secure HTTPS, which would let us do that, but due to some other existing conflicts, we can't utilize those for real account integration until a proper solution is constructed, <a target='_blank' href='https://wink.messengergeek.com/t/msn-7-5-authentication-the-patchening/4549'>which is being done right now</a>.</p>
			<p id="q1-p2">Just know that I'd recommend you to use an actual e-mail address than make one up, which has been done before. Not only will it let people have the option to e-mail you when you're offline on MSN, but when you want to reset your password, Escargot will attempt to send you an e-mail with a link to reset your password. Having an actual e-mail address tied to your Escargot account will make that possible.</p>
		</details>
		
		<details id="q2">
			<summary id="q2-s">Is Escargot being actively developed?</summary>
			<p id="q2-p1">
				Development is sporadic. Particularly, development on WLM 14 is completely stuck because we haven't figured it out.
				However, other frontends (Yahoo! Messenger, IRC, AIM, XMPP) might be coming soon. Some even have functional proof-of-concepts.
			</p>
			<p id="q2-p2">
				<a href='https://gitlab.com/valtron/msn-server' target='_blank'>The server</a> is completely open source and contributions are welcome. Be sure to check out the <a href='https://gitlab.com/valtron/msn-server/tree/dev' target='_blank'>dev branch</a> for the newest code.
			</p>
		</details>
		
		<details id="q3">
			<summary id="q3-s">Will Escargot support other dead IM clients?</summary>
			<p id="q3-p1">Yes! In fact, a Yahoo! Messenger frontend is in the works (and mostly working, with caveats). We also have plans for other frontends.</p>
		</details>
		
		<details id="q4">
			<summary id="q4-s">I can't log on to Escargot with MSN Messenger 1.0 - 4.7! Why is that?</summary>
			<p id="q4-p1">First, you might want to check if your account has the option to log in onto those versions of MSN Messenger, since they utilize insecure methods of authentication that were acceptable at the time of their releases, which was MD5-based authentication (a.k.a. the authentication method that won't let us retrieve the password for integration purposes for people using those versions of the MSN client). When registering, click on the "Old MSN Support" checkbox, fully aware that you'll have a password entry in the database with your password, hashed with a now-considered insecure hashing algorithm, before finally registering your account.</p>
			<p id="q4-p2">If you have already registered your account and you haven't checked the checkbox before registering, you can request Escargot to reset your password, considering that you didn't use a fake e-mail address when signing up, in order to check the option. Note that if you haven't been planning to change your password in the first place, you can just type in your current password in both of the password fields and check the checkbox as normal before continuing with the reset procedure.</p>
			<p id="q4-p3">Now, regarding logging on to the specified clients, as long as you've patched the specific versions of the MSN client <strong>CORRECTLY</strong> with <a target='_blank' href='http://storage.log1p.xyz/SetEscargotServer.reg'>the .reg file supplied on the homepage</a>, then you should be all set. But Windows Messenger 4.7.2009 doesn't follow these standard registry values, and goes the way of MSN 5.0 - 6.2, utilizing Tweener authentication rather than the MD5-based authentication earlier versions used. This is because 4.7.2009 was a modified version of the 4.x codebase released around 2004 that supported the acceptable HTTPS Tweener method of authentication. Luckily, there aren't any special patching instructions for this build of the client, and if you have confirmed that you use 4.7.2009 (Go to \"<code>Help</code> -&gt; <code>About Windows Messenger</code>\", or <code>About MSN Messenger</code> if exceptions apply, and check the parentheses-encased <code>x.x.xxxx</code> string to see what build you use), go <a href='/patching'>follow the patching instructions for MSN Messenger 5.0 - 6.2</a> and apply them to your copy of Windows Messenger 4.7.2009.</p>
			<p id="q4-p4">Now, a fair warning about doing this, not just with MSN Messenger, but with any program:</p>
			<p id="q4-p5">You <strong>MUST</strong> use a hex editor or a text editor that retains binary data and be careful when modifying the program files, or else you'll corrupt the MSN Messenger program and/or its components, requiring you to reinstall the program. If you're unsure about your binary modification skills or what to use to modify the program, get a friend who is skilled or at least knows what they're doing and let them help you with all of the magic.</p>
		</details>
		
		<details id="q5">
			<summary id="q5-s">After I added someone to my contact list on WLM 8.x, said contact appears offline for a long time even when they aren't. Why does this happen?</summary>
			<p id="q5-p1">This is a bug, and has been mostly fixed (except for edge cases; WLM 8+'s "protocols" are a mess), but the fixes haven't been deployed yet.</p>
		</details>
		
		<details id="q6">
			<summary id="q6-s">Is WLM 2009 - 2012 support being implemented, and if not, why?</summary>
			<p id="q6-p1">Yes, finally. After a year of being stumped and running around in circles, we've found out why WLM 2009 wouldn't work for us in the first place, which is due to a missing dependency separate from the WLM version's MSI.</p>
			<p id="q6-p2">At the moment, support for MSNP18 is near completion. Almost everything except Circles/Groups and the "What's New" service have been completed and tested to work without any problems, with MPoP being implemented, but partially tested and unconfirmed as to whether it works as intended. We aren't definitely sure about implementing "What's New", since that would require Escargot to have a social network where you could post and read feeds from the "What's New" service, and right now, it seems like overkill to us, but either way, this is a major milestone for us, as we are near finishing off the MSN circle. Now it's just MSNP21 to implement afterwards, and it's game over. For the users, at least.</p>
			<p id="q6-p3">For us, however, we'll still be refining everything to make MSN as flawless and usable as possible, so we'll still be having fun playing around with MSN's protocol for just a bit longer.</p>
		</details>
		
		<details id="q7">
			<summary id="q7-s">Escargot boots me off and it takes me longer than usual to log in or I can't log in at all. Any reason why?</summary>
			<p id="q7-p1">Assuming that you haven't botched the patching procedures before logging in, check out <a target='_blank' href='https://wink.messengergeek.com/t/why-the-escargot-server-has-random-malfunction-periods-from-time-to-time/4264'>this thread</a>.</p>
		</details>
		
		<details id="q8">
			<summary id="q8-s">Is there any way for me to use MSN Messenger/Escargot on my phone?</summary>
			<p id="q8-p1">For you guys that tend to talk to people on the go, there was an official WLM app for iOS and a few third-party MSN Messenger apps for those using Android devices and Java-based cellphones, but those require XMPP gateways that we haven't implemented yet (and possibly have no interest in doing at the moment).</p>
			<p id="q8-p2">Plus, the iOS app has the same issue that every other licensed iOS app has in existence: encrypting the main application module. There is documentation on how to decrypt these beasts, but they're incomplete in terms of utilities we can use.</p>
			<p id="q8-p3">Luckily, if you happen to have an Android device laying around, some people on the dev team have looked into an app named Mercury Messenger that connects to the core MSN/WLM servers rather than rely on gateways, and it does pretty good for an Android app. See this thread to download the modified versions of the app these team members released for you to connect onto Escargot: <a target='_blank' href='https://wink.messengergeek.com/t/beta-2-mercury-messenger-for-android-with-msnp15-and-msnp11-support/2216'>BETA 2: Mercury Messenger for android with MSNP15 and MSNP11 support</a>. Now you can enjoy MSN Messenger wherever, whenever! (again, for those using Android. Better wait, iOS and Java phone users.)</p>
		</details>
		
		<details id="q9">
			<summary id="q9-s">When I use Mercury Messenger with the "MSNP11" setting, it does not connect and times out. Any way to fix this?</summary>
			<p id="q9-p1">Try logging in with the <code>MSNP15</code> setting. It seems to work right now with Mercury Messenger.</p>
		</details>
		
		<details id="q10">
			<summary id="q10-s">Will Escargot implement ads to fill in the placeholder ad window on MSN/WLM or just place ads up in general?</summary>
			<p id="q10-p1">Escargot will definitely <strong>NOT</strong> place ads. Microsoft's legal department will notice money being made off their IP (intellectual property; basically the legal way of saying stuff someone/something owns) and cease-and-desist us, destroying the project. We don't want that, do we?</p>
			<p id="q10-p2">Although we might put up "mock" ads, not for monetary gain but for the lulz or to promote related projects.</p>
		</details>
		
		<details id="q11">
			<summary id="q11-s">I'm being added to these random annoying group chats/multi-user conversations that I don't have any control over of blocking! Is there anything I can do?</summary>
			<p id="q11-p1">This isn't specific to Escargot, and either way, this is beyond our control, as this is done by our very own userbase. The least you can do is block any suspected owners of these group chats/multi-user conversations, and if that isn't enough for you, make sure that your privacy options only allow people you add on your contact list to talk to you, as described <a target='_blank' href='https://wink.messengergeek.com/t/are-you-being-invited-to-group-chats-over-and-over-come-in-i-have-a-solution/1173'>in this thread</a>.</p>
		</details>
		
		<details id="q12">
			<summary id="q12-s">Will Escargot open up a Patreon/take donations?</summary>
			<p id="q12-p1">There are no plans for this at the moment.</p>
			<p id="q12-p2">Hosting fees are manageable right now (mostly paying for bandwidth for the downloads), but if we ever do something like this, we'll probably start by accepting cryptocurrency donations.</p>
		</details>
		
		<style>
			#faq {
				padding-bottom: 3em;
			}
			
			#faq details {
				padding: 0.3em 0.5em;
				margin-bottom: 1em;
			}
			
			#faq details:hover {
				background-color: hsl(204.1, 69.9%, 53.1%, 0.2);
			}
			
			#faq p {
				margin: 0em 0em 0.5em;
			}
			
			#faq details summary {
				font-size: 1.2em;
				line-height: 1.3em;
				cursor: pointer;
			}
		</style>
	{%- endcall -%}
{%- endblock -%}
