{%- extends 'base.html' -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
	<div id="id" title="stats"></div>
	{%- call section('off-white', "Stats") -%}
		<p class="muted">
			Stats refresh every 5 minutes.
		</p>
		
		{% if stats %}
			<p><span class="bold">{{ stats['logged_in'] }} users</span> currently online.</p>
			
			{% for hour_formatted, hour_stats in stats['by_hour'] %}
				<h4>{{ hour_formatted }}</h4>
				
				<table style="width: 100%">
					<colgroup>
						<col/>
						<col style="width: 8em"/>
						<col style="width: 7em"/>
						<col style="width: 7em"/>
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2">Program/Version</th>
							<th rowspan="2" class="txt--center">Active Users</th>
							<th colspan="2" class="txt--center">Messages</th>
						</tr>
						<tr>
							<th class="txt--center">Sent</th>
							<th class="txt--center">Received</th>
						</tr>
					</thead>
					<tbody>
						{% for client_stats in hour_stats %}
							<tr>
								<td>{{ client_stats['client_formatted'] }}</td>
								<td class="txt--right">{{ client_stats['users_active'] }}</td>
								<td class="txt--right">{{ client_stats['messages_sent'] }}</td>
								<td class="txt--right">{{ client_stats['messages_received'] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
		{% else %}
			No stats available.
		{% endif %}
	{%- endcall -%}
{%- endblock -%}
