@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html { height: 100%; }

body {
	position: relative;
	top: 0;
	margin: 0;
	background: linear-gradient(to top,lightblue, #a5d0dd);
	font-family: 'Open Sans', sans-serif;
}

.logo {
	position: relative;
	top: 5px;
	left: 10px;
}

.title {
	margin-bottom: 0;
}

.reset {
	font-size: 13px;
	margin-bottom: 25px;
}

.form-cont {
	width: 600px;
	height: auto;
}

.no-errors {
	padding: 0 2px;
	background-color: #b5db83;
	border: 2px solid #0A0;
	border-radius: 5px;
}
.no-errors::before {
	content: url("/static/emots/emot-party.gif");
}

#account-created {
	display: none;
}

.errors-warn {
	padding: 0 2px;
	background-color: #d89a86;
	border: 2px solid #D00;
	border-radius: 5px;
}

#errors {
	margin: 0;
}

.error {
	margin-top: 15px;
	color: red;
}

.input {
	width: 100%;
	height: 30px;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 0.5em;
	border-radius: 100px;
	border: 1px solid gray;
	padding-left: 5px;
}

.support_old {
	display: inline;
	font-size: 10.5px;
}

.goto {
	font-size: 10px;
}

.blue-button {
	float: right;
	width: 175px;
	height: 70px;
	background-color: #3498db;
	border: hidden;
	border-radius: 5px;
	color: white;
	font-size: 19px;
	font-weight: 900;
	cursor: pointer;
}
.signup-button:hover {
	background-color: #258bcf;
}

@media only screen and (max-width: 480px) {
	body			{ overflow-x: hidden }

	.form-cont		{ width: 100% }

}